html,
body {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  overflow-y: auto;
}

.font-link {
  font-family: 'Raleway';
}

.aboutSection,
.skillSection,
.projectSection {
  position: relative;
  width: 100vw;
  height: 100vh;
  /* border: 1px solid red; */
}
