html,
body,
section {
  margin: 0;
  padding: 0;
}


.font-link {
  font-family: 'Raleway';
}

section {
  /* border: 1px solid red; */
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 55pt;
}

h2 {
  font-size: 40pt;
}

section#intro>h2 {
  font-size: 35pt;
}

section#intro>h1,
h2 {
  font-weight: bold;
}

/*********************/

section#intro {
  overflow: hidden;
  position: relative;
  text-align: center;
}

img#background {
  opacity: 0.5;
  /* position: absolute; */
  /* left: -90%; */
  /* top: -30%; */
}

section#intro>h1 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section#intro>h2#h2-1 {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section#intro>h2#h2-2 {
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*********************/

section#about-me {
  position: relative;
}

section#about-me>h2 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section#about-me>div#about-blurb {
  position: absolute;
  top: 55%;
  left: 30%;
  transform: translate(-50%, -50%);
  height: 60vh;
  width: 40vw;
  white-space: pre-wrap;
  font-size: 18pt;
}

img#portrait {
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 75%;
  transform: translate(-50%, -50%);
}

/*********************/

section#skills {
  position: relative;
}

section#skills>h2 {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section#skills>p {
  position: absolute;
  display: block;
  top: 35%;
  left: 15%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 50vh;
}

section#skills img {
  height: 10vh;
  width: auto;
  display: inline;
}

section#skills section {
  height: 15vh;
}

section#grid-logos {
  position: absolute;
  top: 25%;
}

/*********************/

section#projects {
  position: relative;
}

section#projects h4 {
  font-size: 28pt;
}

section#projects p, a {
  font-size: 18pt;
}

section#projects>h2 {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

div#warbler-blurb {
  position: absolute;
  top: 25%;
  left: 10%;
  width: 30vw;
  /* height: 42.5vh; */
}

div#warbler-carousel {
  position: absolute;
  top: 15%;
  left: 45%;
}

div#jobly-blurb {
  position: absolute;
  top: 70%;
  left: 10%;
  width: 30vw;
  /* height: 42.5vh; */
}

div#jobly-carousel {
  position: absolute;
  top: 60%;
  left: 45%;
}
